.about{
    float: right;
    width: 87%;
    min-height: 100%;
    background-color: #2C3031;
}

.about-container {
    padding-top: 2.5%;
    padding-left: 10%;
    width: 77%;
    min-height: 100vh;
    background-color: #2C3031;
    color: whitesmoke;
    vertical-align: top;
}

.about-info {
    display: inline-block;
    vertical-align: top;
}

#summary{
    width: 60%;
}

#personal-info {
    width: 40%;
}

h2 {
    font-size: 26px;
}

.about-info p {
    font-size: 20px;
    line-height: 200%;
}

.services {
    width: 100%;
    text-align: center;
}

.services-div {
    width: 20%;
    display: inline-block;
    padding: 0px 1%;
}

.services-div label {
    font-size: 32px;
}

@media only screen and (max-width: 900px) {
	.about {
		width: 100%;
	}
}

@media only screen and (max-width: 780px) {
	.about-info {
		display: block;
	}
    #summary{
        width: 100%;
    }
    #personal-info {
        width: 100%;
    }
}