.resume{
    float: right;
    width: 87%;
    min-height: 100%;
    background-color: #2C3031;
}

.resume-container {
    padding-top: 2.5%;
    padding-left: 10%;
    width: 77%;
    min-height: 100vh;
    background-color: #2C3031;
    color: whitesmoke;
}

@media only screen and (max-width: 900px) {
	.resume {
		width: 100%;
	}
}